<?php
/* --------------------------------------------------------
 * 設定
 * -------------------------------------------------------- */
define("APP_ROOT", "/"); // アプリケーションルートパス
define("APP_ROOT_DIR", "/path/to/app/"); // アプリケーションルートディレクトリ

define("AWS_CONFIG_FILE", "conf/config.ini"); // AWS関連設定ファイル

/* --------------------------------------------------------
 * タイムゾーンに関する設定
 * -------------------------------------------------------- */
date_default_timezone_set("Asia/Tokyo"); // デフォルトのファイムゾーン

?>
